<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.sinsokeyt.spring.test.jstl.repository.WeatherRepository">
 	<select id="selectWeather" resultType="com.sinsokeyt.spring.test.jstl.domain.Weather">
 		select
			date
			,weather
			,temperatures
			,precipitation
			,microDust
			,windSpeed
		from
			weatherhistory
 	</select>
 	
 	<insert id="insertWeather" parameterType="map">
 		insert into 
 			weatherhistory
 		(
 		date
			,weather
			,temperatures
			,precipitation
			,microDust
			,windSpeed
 		)
 		value
 		(
 			#{date}
			,#{weather}
			,#{temperatures}
			,#{precipitation}
			,#{microDust}
			,#{windSpeed}
 		)
 		
 		
 	</insert>
 	
 	<insert id="insertWeatherByObject" parameterType="com.sinsokeyt.spring.test.jstl.domain.Weather">
 		insert into
 			weatherhistory
 		(
 			date
			,weather
			,temperatures
			,precipitation
			,microDust
			,windSpeed
 		)
 		value
 		(
 			#{date}
			,#{weather}
			,#{temperatures}
			,#{precipitation}
			,#{microDust}
			,#{windSpeed}
 		)
 	</insert>
 </mapper>